@use '../../assets/variables.scss' as *;

.project-detail {
    margin-top: $margin-top-section-xl;
    padding: $padding-section-xl;
    background-color: $secondary-color;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    &__content{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &--title
        {
            font-weight: bold;
        }
    }

}