@use '../../assets/variables.scss' as *;
@use '../../assets/mixins.scss' as *;

.projects {
    background-color: $primary-color;
    padding: $padding-section-lg;
    color: $secondary-color;

    &--title {
        text-align: center;
        margin-bottom: 4rem;

        & span {
            font-size: $size32;
            @include underline-title;
        }
    }

}