@use '../../assets/variables.scss' as *;

.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &__img {
        height: 600px;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        display: block;

        @media (max-width: 1024px){
            height: 500px;
        }
        @media (max-width: 768px){
            height: 250px;
            opacity: 0.8;
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        color: $secondary-color;
        font-size: $size30;
        font-weight: bold;
        z-index: 2;

        @media (max-width: 768px){
            font-size: $size24;
            visibility: visible;
            opacity: 1;
        }
    }

    &:hover {
        .card__img {
            opacity: 0.5;
            box-shadow: $box-shadow;
        }

        .card__title {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.05);
        }
    }
}