@use '../../assets/variables.scss' as *;

.inspiration-item {
  display: flex;
  text-align: left;
  gap: 2rem;

  @media(max-width: 768px) {
    align-items: center;
  }
  
  & span {
    color: $accent-color;
    text-decoration: none; 
    font-size: 5rem;
    line-height: 0.5;
    font-weight: bold;
  }

  &.reverse {
    flex-direction: row-reverse;
    text-align: right;
  }

  &__image {
    img {
      width: 300px;
      height:350px;
      object-fit: cover;
      box-shadow: $box-shadow;

      @media(max-width: 768px) {
        width: 250px;
        height: 250px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    gap: 5rem;

    @media(max-width: 1200px) {
        gap: 3rem;
        flex-basis: 60%;
    }

    @media(max-width: 768px) {
        gap: 1rem;
        flex-basis: 100%;
    }
  }
}