.fieldInput,
.fieldTextarea {
    display: flex;
    flex-direction: column;

}

.fieldInput input {
    height: 30px;
    width: 300px;

}

.fieldTextarea textarea {
    width: 450px;
    padding: 0 5px;

}