@use '../../assets/variables.scss' as *;

.navbar {
    color: $secondary-color;

    ul {
        display: flex;
        gap: 2rem;
        align-items: center;

        @media(max-width: 768px){
            gap: 1rem;
            text-align: center;
        }
    }

    & li:hover {
        color: $accent-color;
        transition: color 0.3s ease;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }

}