@use '../../assets/variables.scss' as *;

.navbar {
    color: $secondary-color;
    display: flex;
    gap: 2rem;
    align-items: center;

    &__links:hover {
        color: $accent-color;
        transition: color 0.3s ease;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }

}