//TYPOGRAPHY\\
$size16 : 1.6rem;
$size20 : 2rem;
$size24 : 2.4rem;   
$size30 : 3rem;
$size32 : 3.2rem;
$size36 : 3.6rem;

//COLORS\\
$primary-color: #3E517A;
$secondary-color: #E5CABB;
$accent-color: #B08EA2;

//PADDING\\
$padding-section-lg: 4rem 8rem;
$padding-section: 6rem 2rem;
$padding-section-sm: 4rem 1rem;
$padding-section-xs: 2rem 1rem;
$padding-section-xxs: 1rem 1rem;

//MARGINS\\

$margin-section-lg: 4rem 8rem;
$margin-section: 6rem 2rem;
$margin-section-sm: 4rem 1rem;
$margin-section-xs: 2rem 1rem;

$margin-bottom-section-xl: 8rem;
$margin-bottom-section-lg: 4rem;
$margin-bottom-section: 2rem;
$margin-bottom-section-sm: 1rem;
$margin-bottom-section-xs: 0.5rem;

$margin-top-section-xl: 8rem;
$margin-top-section-lg: 4rem;
$margin-top-section: 2rem;
$margin-top-section-sm: 1rem;
$margin-top-section-xs: 0.5rem;


$margin-left-section-lg: 8rem;
$margin-left-section: 2rem;
$margin-left-section-sm: 1rem;
$margin-left-section-xs: 0.5rem;

$margin-right-section-lg: 8rem;
$margin-right-section: 2rem;
$margin-right-section-sm: 1rem;
$margin-right-section-xs: 0.5rem;

$margin-auto: auto;
