@use '../../assets/variables.scss' as *;
@use 'sass:color';
.footer {
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    align-items: center;
    padding: $padding-section-xs;
    justify-content: space-between;

    @media(max-width: 1024px) {
        text-align: center;
    }

    @media(max-width: 768px) {
        padding: $padding-section-xxs;
        font-size: $size10;
    }


    &__location {
        display: flex;
        flex-basis: 33%;
        
        & img {
            height: 30px;

            @media(max-width: 1024px) {
                height: 20px;
            }

            @media(max-width: 768px) {
                display: none;
            }
        }
    }

    &--copyright {
        flex-basis: 33%;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        flex-basis: 33%;
        align-items: center;
        align-content: flex-end;
        flex-wrap: wrap;

        &--text {
            @media(max-width: 768px) {
                display: none;
            }
          
        }

        & img {
            height: 40px;
            width: 40px;

            @media(max-width: 1024px) {
                height: 30px;
                width: 30px;
            }

            @media(max-width: 768px) {
                height: 25px;
                width: 25px;
            }
        }

        &--links {
            display: flex;
            gap: 15px;

            @media(max-width: 768px) {
                gap: 10px;
            }
        }
    }
}